<footer class="p-2 text-center" style="background-color: #526D82;">
    <div class="container">
        <p class="text-white">All Right Reserved By @Group6 IPM 2022-2023</p>
    </div>
</footer>
</body>
</html>