<%- include('header') -%>

<body>
    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="home.html"><span class="text-secondary">NANCY's</span> HUB</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/route/home">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Reservation</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://maps.app.goo.gl/gZUHKY4czbAoKzpv5" target="_blank">Location</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <section class="services section-padding" id="services">
        <div class="container">
            <div class="col-md-12">
                <div class="section-header pb-2">
                    <h3><strong>Reservation Form</strong></h3>
                </div>
            </div>
            <form>
                <div class="border border-dark p-2 mb-2 border-opacity-50 rounded p-3">
                    <form action="/submit" method="POST">
                        <div class="row mb-3 pt-3">
                          <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputName">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inputServices" class="col-sm-2 col-form-label">Services</label>
                          <div class="col-sm-6">
                            <select id="inputServices" class="form-select">
                                <option selected>Choose...</option>
                                <option>Normal Wash</option>
                                <option>Power Wash</option>
                                <option>Dry</option>
                                <option>Fold</option>
                                <option>Wash and Fold</option>
                              </select>
                          </div>
                        </div>
                        <div class="row mb-3 pb-3">
                            <label for="inputSize" class="col-sm-2 col-form-label">Size</label>
                            <div class="col-sm-6">
                              <select id="inputSize" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>8kg below</option>
                                  <option>8kg to 10kg</option>
                                </select>
                            </div>
                        </div>

                        <hr class="hr" />

                        <!--Order Details start-->
                        <div class="col-md-12">
                            <div class="section-header pb-2">
                                <h5><strong>Order Details</strong></h5>
                            </div>
                        </div>

                        <div class="row g-3">
                        <div class="col-md-5 ps-5">
                            <label for="inputProducts" class="form-label">Products</label>
                            <select id="inputState" class="form-select">
                                <option selected>Choose...</option>
                                <option>Airiel Sunrise Fresh Liquid Detergent</option>
                                <option>Airiel Hygiene Pro Liquid Detergent</option>
                                <option>Airiel Passion Liquid Detergent</option>
                                <option>Breeze Power Machine Liquid Detergent (BLUE)</option>
                                <option>Breeze Power Machine Liquid Detergent (PINK)</option>
                            </select>
                        </div>
                        <div class="col-md-2 ps-5">
                            <label for="inputState" class="form-label">Quantity</label>
                            <select id="inputState" class="form-select">
                              <option selected>Choose</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </div>
                        <div class="col-md-3 ps-5">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" id="inputEmail4" disabled>
                        </div>
                        </div>

                        <hr class="hr" />

                        <!--Delivery Type start-->
                        <div class="col-md-12">
                            <div class="section-header pb-2">
                                <h5><strong>Delivery Type</strong></h5>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-5 ps-5">
                                <label for="inputPicking" class="form-label"></label>
                                <select id="inputPicking" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>Self service</option>
                                    <option>Drop-off service</option>
                                    <option>Pick up</option>
                                    <option>Pick-up and Delivery</option>
                                </select>
                            </div>
                            </div>

                        <hr class="hr" />

                        <!--Order Charges start-->
                        <div class="col-md-12">
                            <div class="section-header pb-2">
                                <h5><strong>Order Charges</strong></h5>
                            </div>
                        </div>

                        <div class="row g-3 pb-3">
                        <div class="col-md-5 ps-5">
                            <label for="Subtotal" class="form-label">Subtotal</label>
                            <input type="text" class="form-control" id="inputEmail4" disabled>
                        </div>
                        <div class="col-md-5 ps-5">
                            <label for="delivery" class="form-label">Delivery Fee</label>
                            <input type="text" class="form-control" id="inputEmail4" disabled>
                        </div>
                        </div>

                        <!--Submit button-->
                        <div class="text-center mx-auto mb-3 mt-3">
                            <input class="btn btn-dark text-white" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
        </form>
        </div>
    </section>
    
    <!-- footer starts -->
	<footer class="bg-dark p-2 text-center">
		<div class="container">
			<p class="text-white">All Right Reserved By @Group6 IPM 2022-2023</p>
		</div>
	</footer>
</body>